.warna {
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    background-color: #f5f5ebe7;
}

.kuning {
    width: 90px;
    height: 25px;
    background-color: yellow;
    position: relative;
    margin-left: 1px;
    padding-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2 px;
}

.hijau {
    width: 90px;
    height: 26px;
    background-color: green;
    margin-top: -0px;
    padding-left: 4px;
    display: flex;
    text-align: center;
    align-items: center;
}

.ja {
    margin-left: 21px;
}

.merah {
    width: 90px;
    height: 28px;
    background-color: red;
    margin-top: -20px;
    padding-left: 4px;
    text-align: center;
}


/* .merah {
    width: 90px;
    height: 30px;
    background-color: red;
    position: relative;
} */

.biruTua {
    width: 90px;
    height: 90px;
    background-color: rgb(49, 49, 141);
    margin-top: -1px;
    padding-left: 4px;
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.hitam {
    width: 90px;
    height: 25px;
    background-color: black;
    margin-left: 95px;
    margin-top: -180px;
    padding-left: 183px;
}

.hi {
    color: white;
    margin-left: -200%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.coklat {
    width: 90px;
    height: 23px;
    background-color: chocolate;
    margin-left: 94px;
    margin-top: -16px;
}

.pu {
    color: black;
    text-align: center;
}

.putih {
    width: 90px;
    height: 26px;
    background-color: white;
    margin-left: 94px;
    margin-top: -16px;
    text-align: center;
}

.pink {
    width: 90px;
    height: 50px;
    background-color: pink;
    margin-left: 184px;
    margin-top: -139px;
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.abu {
    width: 90px;
    height: 60px;
    background-color: gray;
    margin-left: 94px;
    padding-left: 90px;
    margin-top: 1px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ab {
    margin-left: -70px;
}

.orange {
    width: 90px;
    height: 30px;
    background-color: orange;
    margin-left: 94px;
    padding-left: 90px;
    margin-top: -17px;
}

.biru {
    width: 90px;
    height: 28px;
    background-color: blue;
    margin-left: 274px;
    padding-left: 4px;
    margin-top: -51px;
    display: flex;
    text-align: center;
    align-items: center;
}

.bi {
    margin-left: 28px;
}

.ungu {
    width: 90px;
    height: 113px;
    background-color: purple;
    margin-top: -0px;
    padding-left: 4px;
    margin-left: 274px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.un {
    color: white;
}